<p id="notice"><%= notice %></p>

<h1>Contextualizations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contextualizations.each do |contextualization| %>
      <tr>
        <td><%= link_to 'Show', contextualization %></td>
        <td><%= link_to 'Edit', edit_contextualization_path(contextualization) %></td>
        <td><%= link_to 'Destroy', contextualization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contextualization', new_contextualization_path %>
