<p id="notice"><%= notice %></p>

<h1>Human Resources</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @human_resources.each do |human_resource| %>
      <tr>
        <td><%= link_to 'Show', human_resource %></td>
        <td><%= link_to 'Edit', edit_human_resource_path(human_resource) %></td>
        <td><%= link_to 'Destroy', human_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Human Resource', new_human_resource_path %>
