<div class="row justify-content-center">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3>Custos Fixos</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <p>
              <strong>Água:</strong>
              R<%= number_to_currency @fixed_cost.water %>
            </p>

            <p>
              <strong>Luz:</strong>
              R<%= number_to_currency @fixed_cost.light %>
            </p>

            <p>
              <strong>Telefone:</strong>
              R<%= number_to_currency @fixed_cost.telephone %>
            </p>

            <p>
              <strong>Contabilidade:</strong>
              R<%= number_to_currency @fixed_cost.counter %>
            </p>

            <p>
              <strong>Veículos:</strong>
              R<%= number_to_currency @fixed_cost.vehicle %>
            </p>

          </div>
          <div class="col-6">
            <p>
              <strong>Material Expediente:</strong>
              R<%= number_to_currency @fixed_cost.officeSupplies %>
            </p>

            <p>
              <strong>Aluguel:</strong>
              R<%= number_to_currency @fixed_cost.rental %>
            </p>

            <p>
              <strong>Manutenção:</strong>
              R<%= number_to_currency @fixed_cost.maintenance %>
            </p>

            <p>
              <strong>Taxas:</strong>
              R<%= number_to_currency @fixed_cost.taxes %>
            </p>

            <p>
              <strong>Outros:</strong>
              R<%= number_to_currency @fixed_cost.other %>
            </p>

          </div>
        </div>
      </div>
      <div class="card-footer">
        <p>
          <strong>
            Total de custos fixos:
          </strong>
          R<%= number_to_currency soma_custos_fixos @fixed_cost %>
          <span style="float: right">
            <%= link_to 'Editar', edit_fixed_cost_path(@fixed_cost), :class => 'btn btn-sm btn-info' %>
            <%= link_to 'voltar', fixed_costs_path, :class => 'btn btn-sm btn-warning' %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>



