<p id="notice"><%= notice %></p>

<p>
  <strong>Water:</strong>
  <%= @fixed_cost.water %>
</p>

<p>
  <strong>Light:</strong>
  <%= @fixed_cost.light %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @fixed_cost.telephone %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @fixed_cost.counter %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @fixed_cost.vehicle %>
</p>

<p>
  <strong>Officesupplies:</strong>
  <%= @fixed_cost.officeSupplies %>
</p>

<p>
  <strong>Rental:</strong>
  <%= @fixed_cost.rental %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @fixed_cost.maintenance %>
</p>

<p>
  <strong>Taxes:</strong>
  <%= @fixed_cost.taxes %>
</p>

<p>
  <strong>Other:</strong>
  <%= @fixed_cost.other %>
</p>

<%= link_to 'Edit', edit_fixed_cost_path(@fixed_cost) %> |
<%= link_to 'Back', fixed_costs_path %>
