<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Descrição' %>
    <%= form.text_field :descrition, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Número de parcelas' %>
    <%= form.number_field :installment, :class => 'form-control numeric' %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <%= form.check_box :firstPayNow%>
      </div>
    </div>
    <%= form.label 'Primeira parcela é à vista?', :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', :class => 'btn btn-block btn-success' %>
  </div>
<% end %>

<script>
    $('.numeric').keyup(function() {
        $(this).val(this.value.replace(/\D/g, ''));
    });
</script>