<%= form_for :business_process, url: @method do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id  %>
  <% if @questions.blank? %>
    <% @business_process.each do |c| %>
      <div class="form-group">
        <%= form.label c.question.descripition %>
        <%= form.text_area "answer[#{c.id}]", value: c.answer, id: :answer, class: 'form-control' %>
      </div>
    <% end %>
  <% else %>
    <% @questions.each do |q| %>
      <div class="form-group">
        <%= form.label q.descripition %>
        <% @options = Option.where('question_id = ?', q.id) %>
        <% if (@options.blank?) %>
          <%= form.text_area "question[#{q.id}]", id: :answer, class: 'form-control' %>
        <% else %>
          <%= form.select "question[#{q.id}]", @options.collect { |option| [option.description, option.description] },{prompt: '(Selecione a opção)'}, class: 'form-control' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= form.submit "Salvar questionário", class: 'btn btn-block btn-success' %>
<% end %>