<p id="notice"><%= notice %></p>

<h1>Seus produtos</h1>

<table class="table table-hover">
  <thead>
    <tr class="text-light bg-dark">
      <th style="width: 15%">Descrição</th>
      <th>Custo</th>
      <th>Markup</th>
      <th>Preço de Venda</th>
      <th>Quantidade de Venda mensal</th>
      <th>Total vendas mensal</th>
      <th>Forma de pagamento</th>
      <th colspan="3">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="text-info"><strong><%= product.description %></strong></td>
        <td>R<%= number_to_currency product.cost %></td>

        <td><%= format("%.2f", (markup product))  %></td>
        <td>R$<%= format("%.2f", (preco_venda product)) %></td>

        <td><%= product.quantity %> unidades</td>
        <td><%= format("R$ %.2f", (total_venda product))%></td>
        <td><%= product.payment.descrition %></td>
        <td><%= link_to 'Ver', product, :class => 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Editar', edit_product_path(product), :class => 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Excluir', product, method: :delete, :class => 'btn btn-sm btn-danger', data: { confirm: 'Você está certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_product_path, :class => 'btn btn-success' %>
