<div class="row justify-content-center">
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <strong><%= @product.description %></strong>
      </div>
      <div class="card-body">
        <p>
          <strong>Custo:</strong>
          R<%= number_to_currency @product.cost %>
        </p>

        <p>
          <strong>Frete de custo:</strong>
          <%= @product.freightCost %>%
        </p>

        <p>
          <strong>Frente de venda:</strong>
          <%= @product.freightSale %>%
        </p>

        <p>
          <strong>Comissão:</strong>
          <%= @product.commission %>%
        </p>

        <p>
          <strong>Impostos e taxas:</strong>
          <%= @product.tax %>%
        </p>

        <p>
          <strong>Venda mensal:</strong>
          <%= @product.quantity %> Unidades
        </p>

        <p>
          <strong>Margem de lucro:</strong>
          <%= @product.profit %>%
        </p>

        <p>
          <strong>Forma de pagamento:</strong>
          <%= @product.payment.descrition %>
        </p>
        <table class="table table-bordered">
          <tr>
            <th>Markup</th>
            <td><%= format("%.2f", (markup @product))  %></td>
          </tr>
          <tr>
            <th>Preço Venda</th>
            <td><%= format("R$ %.2f", (preco_venda @product)) %></td>
          </tr>
          <tr>
            <th>Volume de vendas no mês</th>
            <td><%= format("R$ %.2f", (total_venda @product))%></td>
          </tr>
        </table>
      </div>
      <div class="card-footer">
        <%= link_to 'Editar', edit_product_path(@product), :class => 'btn btn-block btn-info' %>
        <%= link_to 'Voltar', products_path, :class => 'btn btn-block btn-warning' %>
      </div>
    </div>
  </div>
</div>
